<div style="width:800px; margin:0 auto;">
  <% @groups.each do |group| %>
    <br>
    <p>Nome do grupo: <%= link_to(group.name, group_path(group)) %></p>
    <p>ID: <%= group.id %></p>
    <hr>
    <br>
  <% end %>
  <%= link_to 'Criar', new_group_path, class: 'btn btn-primary' %>
</div>