<div style="width:800px; margin:0 auto;">
<h1>Criando um Grupo</h1>
<%= simple_form_for(@group) do |f| %>
  <%= f.error_notification %>
  <%= f.input :name, label: 'Nome'%>
  <br>
  <%= f.submit 'Enviar', class: 'btn btn-primary' %>
<% end %>
</div>